    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
    .app-desc {
        display: none;
    }
    
    .row-container {
        display: flex;
        justify-content: center;
    }
    
    .row-container .app-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 20rem;
        background: var(--pheonic-parchment);
        border: 1px solid var(--pheonic-blue);
        padding: .5rem 0;
        border-radius: .5rem;
    }
    
    .row-container .app-container .tnt h1 {
        font-family: 'Aclonica', sans-serif;
        font-size: 1.4rem;
        text-align: center;
    }
    
    .row-container .app-container .form-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20rem;
        gap: .5rem;
    }
    
    .row-container .app-container .form-panel h3,
    .row-container .app-container .stat-panel .stat-table h3,
    .row-container .app-container .stat-panel .other-stats h3 {
        font-family: 'Aclonica', sans-serif;
        text-align: center;
    }
    
    .row-container .app-container .form-panel form .form-controls {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1.5fr);
        padding-top: .5rem;
        gap: .5rem;
        text-align: right;
    }
    
    .row-container .app-container .form-panel form .form-controls label {
        font-weight: bold;
    }
    
    .row-container .app-container .form-panel .btn-div {
        display: flex;
        justify-content: center;
    }
    
    .row-container .app-container .form-panel button {
        margin-top: .5rem;
        padding: .3rem .4rem;
        border-radius: 5px;
        color: #fff;
        background: #d4af37;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        cursor: pointer;
        border: none;
        text-shadow: -1px -1px 0 #d9a575, 1px -1px 0 #d9a575, -1px 1px 0 #d9a575, 1px 1px 0 #d9a575;
    }
    
    .row-container .app-container .stat-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    
    .row-container .app-container .stat-panel .stat-table {}
    
    .row-container .app-container .stat-panel .stat-table table,
    .row-container .app-container .stat-panel .other-stats table {
        table-layout: fixed;
        padding-top: .5rem;
        width: 18rem;
    }
    
    .row-container .app-container .stat-panel .stat-table table th {
        font-family: 'Aclonica', sans-serif;
        text-align: center;
    }
    
    .row-container .app-container .stat-panel .stat-table table td {
        text-align: center;
    }
    
    .row-container .app-container .stat-panel .other-stats table td span {
        font-family: 'Aclonica', sans-serif;
    }
    
    .divider {
        height: 1px;
        width: 80%;
        background: var(--pheonic-blue);
    }