<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    {% if is_app %}
    <link rel="stylesheet" href="css/app-styles.css" type="text/css" />
    {% endif %}
    <link rel="canonical" href="https://pheonic{{page.url}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>{{ title | safe }}</title>
</head>
<body>

{% include "_page-head.njk" %}
