<navbar>
    <div class="navigation">
        <div class="logo">
            <a href="/"><img src="/img/pheonic-logo2.png"></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/topics/">Topics</a>
                <li><a href="/about/">About</a></li>
            </ul>
        </div>
    </div>
</navbar>