<navbar>
    <div class="navigation">
        <a href="/"><img src="/img/pheonic-logo2.png"></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/pages/">Pages</a>
            <li><a href="/resources/">Links</a>
            <li><a href="/blog/">About</a></li>
        </ul>
    </div>
</navbar>