{% include "_head.njk" %}
<div class="site-container">
    <div class="container">

        {% include "_navbar.njk" %}

        {% include "_breadcrumbs.njk" %}

        {# <main> #}
            {{ content | safe }}
        {# </main> #}

        <div class="footer">
        <p>Copyright &copy; 2020  Pheonic</p>
        </div>
    </div>
</div>

{% include "_foot.njk" %}
