---
layout: base-layout.njk
---
<div class="blog-article-container">
    <article>
        <div class="article-header">
            <h1>{{ title | safe }}</h1>
            {% if show_date %}
            <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
            {% endif %}
        </div>
        <div class="post-content">
            {{ content | safe }}
        </div>
    </article>
</div>