@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --terracotta: #945d60;
    --herb: #626e60;
    --chili: #af473c;
    --charcoal: #3c3c3c;
    --pheonic-blue: #328da8;
    --pheonic-white: #fff;
    --pheonic-lightgrey: #f4f4f4;
    --pheonic-orange: #e88302;
    --pheonic-parchment: #f1f1e8;
    --pheonic-gold: #d4af37;
    --max-content-width: 50rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    /* background: #5d6d7e; */
    background: var(--pheonic-lightgrey);
}

.site-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}

.container {
    background: var(--pheonic-lightgrey);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    max-width: var(--max-content-width);
    height: 100vw;
    min-height: 100%;
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: var(--max-content-width);
    }
}

navbar .navigation {
    display: flex;
    flex-direction: column;
    background: var(--pheonic-lightgrey);
    align-items: center;
    width: 100%;
    max-width: var(--max-content-width);
    border-top: 1px solid var(--pheonic-blue);
    border-bottom: 1px solid var(--pheonic-blue);
}

@media screen and (min-width: 768px) {
    navbar .navigation {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

navbar .logo img {
    display: block;
    height: 6rem;
    max-height: 6rem;
    padding: 1rem 0;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    navbar .navigation {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    navbar .logo {
        float: left;
    }
    navbar .logo img {
        margin: 0;
    }
    navbar .menu {
        float: right;
    }
}

navbar div.navigation ul {
    padding-bottom: 1rem;
    width: 100%;
    max-width: 100%;
    list-style: none;
}

navbar div.navigation ul li {
    display: inline;
}

navbar div.navigation ul li a {
    text-decoration: none;
    color: #fff;
    background: var(--pheonic-blue);
    padding: .5rem;
    border-radius: .5rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: .9rem;
}

navbar div.navigation ul li a:hover {
    color: var(--pheonic-gold);
}

.breadcrumbs {
    padding: 0 1rem .5rem 2rem;
    border-bottom: 1px solid var(--pheonic-blue);
}

.breadcrumbs ul {
    list-style: none;
}

.breadcrumbs a {
    color: var(--pheonic-blue);
    text-decoration: none;
}

header .welcome {
    border-radius: .5rem;
    padding: .5rem;
}

header h1 {
    color: var(--pheonic-white);
    font-size: 1.4rem;
    padding: .5rem;
    letter-spacing: 1px;
    background: var(--pheonic-blue);
    font-family: 'Roboto', sans-serif;
    border-radius: .5rem .5rem 0 0;
}

header .welcome .paragraphs {
    background: var(--pheonic-parchment);
    border-radius: 0 0 .5rem .5rem;
    border: 1px solid var(--pheonic-blue);
}

header .welcome p {
    color: var(--charcoal);
    letter-spacing: 1px;
    line-height: 1.2rem;
    padding: .5rem;
    border-radius: 0 0 .5rem .5rem;
}

section .latest-posts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .5rem;
    color: var(--charcoal);
    border-radius: .5rem;
    margin: 0 .5rem;
    border: 1px solid var(--pheonic-blue);
}

section .latest-posts h2 {
    font-family: 'Roboto', sans-serif;
    color: var(--pheonic-white);
    background: var(--pheonic-blue);
    padding: .5rem;
    letter-spacing: 1px;
    border-radius: .5rem .5rem 0 0;
    font-size: 1.2rem;
}

section .latest-posts .paragraphs {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

section .latest-posts .paragraphs article {
    color: var(--charcoal);
    background: var(--pheonic-parchment);
    border: 1px solid var(--pheonic-blue);
    padding: .5rem;
    border-radius: .5rem;
    margin: 0 .5rem 0 .5rem;
}

section .latest-posts .paragraphs article .home-page-title {
    padding-bottom: .5rem;
}

section .latest-posts .paragraphs article .post-excerpt h3 {
    padding-top: .5rem;
}

section .latest-posts .paragraphs article a {
    color: var(--pheonic-blue);
    text-decoration: none;
}

section .latest-posts .paragraphs article p {
    padding-top: .5rem;
}

section .latest-posts .more-link {
    text-align: right;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-right: .5rem;
}

section .latest-posts .more-link a {
    color: var(--pheonic-white);
    background: var(--pheonic-blue);
    font-style: italic;
    text-decoration: none;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid var(--pheonic-blue);
}

.blog-index-container article {
    margin: 0 1rem 1rem 1rem;
    border-radius: .5rem;
    background: var(--pheonic-parchment);
}

.blog-index-container article .article-header {
    background: var(--pheonic-blue);
    padding: .5rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.blog-index-container article .article-header h2 {
    color: #fff;
    font-size: 1.1rem;
}

.blog-index-container article h2 {
    color: var(--charcoal);
    font-size: 1.1rem;
    padding-top: .5rem;
}

.blog-index-container article .article-header h2 a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.blog-index-container article .article-header time {
    color: var(--pheonic-lightgrey);
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    font-weight: 600;
}

.blog-index-container article .post-content {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: .5px;
    border: 1px var(--pheonic-blue) solid;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    padding: .5rem;
}

section .latest-posts .paragraphs article p.read-more-link,
.blog-index-container article .post-content p.read-more-link {
    text-align: right;
    padding-top: .5rem;
}

section .latest-posts .paragraphs article p.read-more-link a,
.blog-index-container article .post-content p.read-more-link a {
    color: var(--pheonic-blue);
    text-decoration: none;
}

.blog-article-container {
    padding: 0 .5rem;
}

.blog-article-container article {
    background: var(--pheonic-parchment);
    border: 1px solid var(--pheonic-blue);
    border-radius: .4rem;
}

.blog-article-container article .article-header {
    background: var(--pheonic-blue);
    padding: .5rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.blog-article-container article .article-header h1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.blog-article-container article time {
    color: var(--pheonic-lightgrey);
}

.blog-article-container article .post-content {
    padding: 0 .5rem .5rem .5rem;
}

.blog-article-container article .post-content h2 {
    font-family: 'Roboto', sans-serif;
    color: var(--charcoal);
    font-size: 1.1rem;
    padding-top: .5rem;
}

.blog-article-container article .post-content p {
    color: var(--charcoal);
    font-family: 'Roboto', sans-serif;
    padding-top: .5rem;
}

.blog-article-container article .post-content p a {
    text-decoration: none;
    color: var(--pheonic-blue);
    font-weight: bold;
    font-style: italic;
}

.blog-article-container article .post-content ul,
.blog-article-container article .post-content ol {
    padding: .5rem 1.5em 0 1.5rem;
}

.blog-article-container article .post-content .blog-article-table {
    padding: 1rem 0;
}

.blog-article-container article .post-content .blog-article-table table {
    border-collapse: collapse;
    margin: 0 auto;
    /* text-align: left; */
}

@media screen and (min-width: 768px) {
    .blog-article-container article .post-content .blog-article-table table {
        width: 0;
    }
}

.blog-article-container article .post-content .blog-article-table table thead {
    border-bottom: 1px solid var(--charcoal);
    border-top: 1px solid var(--charcoal);
}

.blog-article-container article .post-content .blog-article-table table tbody {
    border-bottom: 1px solid var(--charcoal);
}

.blog-article-container article .post-content .blog-article-table table thead th,
.blog-article-container article .post-content .blog-article-table table tbody td {
    padding-left: 1rem;
}

.blog-article-container article .post-content .blog-article-table figcaption {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    padding-top: .3rem;
}

.topical-index-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--charcoal);
    background: var(--pheonic-lightgrey);
}

.topical-index-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: .3rem;
    border: 1px var(--pheonic-blue) solid;
    max-width: var(--max-content-width);
}

.topical-index-container header {
    color: #fff;
    background: var(--pheonic-blue);
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

.topical-index-container header .page-title h1 {
    text-align: center;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.topical-index-container .topic-cards {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: .3rem;
    align-self: top;
}

@media screen and (min-width: 768px) {
    .topical-index-container .topic-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: last baseline;
    }
}

.topical-index-container .topic-cards article {
    margin: .5rem;
    border: 1px solid var(--pheonic-blue);
    border-radius: .4rem;
    font-family: 'Roboto', sans-serif;
    background: var(--pheonic-parchment);
}

.topical-index-container .topic-cards article h3 {
    color: #fff;
    background: var(--pheonic-blue);
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    padding: .2rem;
}

.topical-index-container .topic-cards article ul {
    list-style: none;
    padding: .5rem 1.5rem;
}

.topical-index-container .topic-cards article ul li a {
    color: var(--pheonic-blue);
    text-decoration: none;
}

footer {
    color: var(--charcoal);
    background: var(--pheonic-lightgrey);
    padding: .5rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    padding: .5rem 0 1.5rem;
    border: solid 1px var(--pheonic-blue);
    overflow: auto;
    color: var(--pheonic-white);
    background: var(--pheonic-blue);
}

@media screen and (min-width: 768px) {
    footer {
        border-radius: .4rem;
        padding-bottom: .5rem;
    }
}

.center-div {
    display: flex;
    justify-content: center;
}

.page-nav {
    font-family: 'Roboto', sans-serif;
    margin-bottom: .5rem;
}

.page-nav ul li {
    display: inline;
}

.page-nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--pheonic-white);
    background: var(--pheonic-blue);
    padding: .3rem;
    border: 1px solid var(--pheonic-blue);
    border-radius: .5rem;
}

.image-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.image-container img {
    display: block;
    max-width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .image-container img {
        max-width: 40%;
    }
}

.image-container figcaption {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    padding-top: .5rem;
}

.center-text {
    text-align: center;
}

[aria-current] {
    background-color: var(--pheonic-blue);
}